# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

!src/modules/logs/
!src/modules/logs/**

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Uploads
uploads/*
!uploads/.gitkeep

# Test coverage
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Environment variables
.env
